[tool.black]
line-length = 100
target-version = ["py311"]

[tool.isort]
profile = "black"
line_length = 100
force_sort_within_sections = true

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["."]
